@model EmpWithDeptListViewModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>
<form method="post" action="/Employee/SaveEdit/@Model.Id">
    @* <input type="hidden" name="Id" value="@Model.Id" /> *@
    <div>
        <!--Pure HTML-->
        @* <label for="Name">Name</label> *@
        @* <input class="form form-control" type="text" name="Name" id="Name" value="@Model.Name" /> *@
        <!--Pure C#-->
      @*   @Html.LabelFor(e=>e.Name)
        @Html.EditorFor(e=>e.Name) *@
       
        @* @Html.TextBoxFor(e => e.Name,
            new { style = "color:red;background-color:yellow;",@class="form form-control"}) *@
        <label asp-for="Name"></label>
        <input class="form form-control" asp-for="Name" />
        
    </div>
    <div>
        <label>Salary</label>
        <input class="form form-control" type="number" name="Salary" id="Salary" value="@Model.Salary" />
    </div>
    <div>
        @* <label for="ImageURL">Image</label> *@
        @Html.LabelFor(e=>e.ImageURl)
        <input class="form form-control" type="text" name="ImageURl" id="ImageURl" value="@Model.ImageURl" />
    </div>
    <div>
        <label>Department</label>
        <select class="form form-control"  name="DepartmentId" id="DepartmentId">
            @foreach (Department deptItem in Model.DeptList)
            {
                if (Model.DepartmentId == deptItem.Id){
                    <option value="@deptItem.Id" selected>@deptItem.Name</option>
                }
                else
                {
                    <option value="@deptItem.Id">@deptItem.Name</option>
                }
            }
        </select>
    </div>
    <input type="submit" value="Save" class="btn btn-dark" />
</form>


<!--Pure HTML-->
<a href="/Employee/All" >Back To List</a> --- 
@Html.ActionLink("Back To List","All","Employee",null,new {@class="btn btn-success"}) ---
<a asp-action="All" asp-controller="Employee">Back To List</a> ---

<hr />
<a href="/Employee/Details/1?name=ahmed">** DEtails **</a> ---
@Html.ActionLink("-- Details --","Details","Employee",new {id=@Model.Id,name=Model.Name,agge=12})
<a asp-action="Details" asp-controller="Employee" asp-route-id="@Model.Id" asp-route-name="@Model.Name">** DEtails **</a> ---

<hr />


